{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main id="main">

<!-- ======= Hero Slider Section ======= -->
<!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            <div> 
              <div class="post-entry-1 lg">
                <div class="profile"> <div class="card p-4"> 
                  <div class=" image d-flex flex-column justify-content-center align-items-center">
                    {% if user.is_authenticated %}
                    <button class="btn btn-secondary"> <img class="profile_img" src='{% static "/img/Emblem.jpg" %}' height="100" width="100" /></button> 
                    <ol style="padding-left: 0px;">
                      <span class="name mt-3">{{ user.username }}</span> 
                      <span class="idd d-flex flex-row justify-content-center align-items-center gap-2" ><br>
                      {{user.university}}</br></span> 
                      <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                        <span class="idd1">{{user.major}}</span> 
                        <span><i class="fa fa-copy"></i></span> 
                      </div> 
                    
                      </ol>
                      <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
                        <span class="number">{{ info.posting_num }} <span class="follow">개의 포스팅</span></span>
                        <a href="{% url 'write' %}" class="write">
                        <img id="bigger" src='{% static "/img/pencil-square.svg" %}' alt="">
                        </a>
                  
                      </div> 
                      <ol style="padding-left: 0px;">
                        <div class=" d-flex mt-2"> <a href="{% url 'profilesettings' %}"><button class="btn1 btn-dark">프로필 수정</button></a> </div>
                      </ol>
                      <div class="text mt-3"></div>
                      </div> 
                    </div>
                    {% else %}
                    
                    <!-- <h1 id="login_logo" href="{% url 'home' %}" class="logo align-items-center">과끼리!</h1> -->
                    <a href="{% url 'home' %}" class="logo align-items-center">
                      <img src='{% static "/img/과끼리로고2.png" %}' alt="" style="width: 170px;">
                    </a>
                    

                  <div class=" d-flex mt-2"> <a class="nav-link" href="{% url 'common:login' %}"><button class="btn1 btn-dark">로그인</button></a> </div>
                  <div class=" d-flex mt-2"> <a class="nav-link" href="{% url 'common:signup' %}"><button class="btn1 btn-dark">회원가입</button></a> </div>

                  </ol>
                  <div class="text mt-3"> </span> </div>
                  <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> </div> </div> </div>
                  
                {% endif %}
            </div>
                
            </div>
        </div>

      </div>

          <div class="col-lg-8">
            <div class="row g-5">
              {% for post in posts %}
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="{% url 'singlepost' post.id %}">
                    {% if post.photo %}
                    <img src="{{ post.photo.url }}"  alt="" class="img-fluid">
                    {% else %}
                    <img src="{% static '/img\elephant-icon-11586 (1).jpg' %}" alt="" class="img-fluid">
                    {% endif %}
                  </a>
                  <div class="post-meta"><span class="date">{{post.category2}} 게시판</span> <span class="mx-1">&bullet;</span> <span>{{post.date}}</span></div>
                  <h2><a href="{% url 'singlepost' %}">{{post.title}}</a></h2>
                </div>
              </div>
              {% endfor %}


            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= Culture Category Section ======= -->
    
  </main><!-- End #main -->

{% endblock %}
