{% extends 'base.html' %}
{% load static %}

{% block content %}


  <main id="main">
    <section data-aos="fade-up">
      
      <div class="container_login">
        <div class="card_login">
            <h1 class="card_title">지금 과끼리를 시작하세요</h1>
            
            <form class="card_form"></form>
                <div class="input">
                    <input type="text" class="input_field" required />
                    <label class="input_label">이메일 혹은 아이디</label>
                </div>
                <div class="input">
                    <input type="password" class="input_field" required />
                    <label class="input_label">비밀번호</label>
                </div>
                <button class="card_button">로그인</button>
            </form>
        </div>
        
    </section>

  </main><!-- End #main -->

{% endblock %}